---
import Base from "../../layouts/Base.astro";
import Featured from "../../components/Featured.astro";
import '../../styles/main.css';
const heading = "HTML Quiz";

---

<Base 
title={`${heading} | Codeology`}
keywords="HTML quiz, interactive quiz, web development, coding quiz, HTML5, CSS, JavaScript, web design, frontend development, online quiz"
description="Test your HTML knowledge with this interactive quiz! Challenge yourself with a series of questions designed to assess your understanding of HTML5, CSS, and JavaScript. This web development quiz covers a wide range of topics, including web design principles, frontend development techniques, and coding best practices. Put your skills to the test and see how well you fare in this engaging online quiz. Take the HTML quiz now and sharpen your coding expertise!"
>
    <main class="">
        <div class="md:w-3/4 w-full ">
            <h3 class="header">{heading} ðŸ¦´</h3>
            <div class="blogcard" id="quiz1">
                <div class="details quiz">
                    <p class="question">1. What is the correct HTML tag for inserting a line break?</p>
                    <button id="ans">&lt;br&gt;</button>
                    <button>&lt;line&gt;</button>
                    <button>&lt;break&gt;</button>
                    <button>&lt;lb&gt;</button>
    
                    <p class="question">2. What is the correct HTML tag for creating a hyperlink?</p>
                    <button>&lt;link&gt;</button>
                    <button id="ans">&lt;a&gt;</button>
                    <button>&lt;href&gt;</button>
                    <button>&lt;hyper&gt;</button>
    
                    <p class="question">3. What is the correct HTML tag for creating a heading?</p>
                    <button>&lt;head&gt;</button>
                    <button id="ans">&lt;h1&gt;</button>
                    <button>&lt;title&gt;</button>
                    <button>&lt;header&gt;</button>
    
                    <p class="question">4. What is the correct HTML tag for adding an image?</p>
                    <button id="ans">&lt;img&gt;</button>
                    <button>&lt;picture&gt;</button>
                    <button>&lt;image&gt;</button>
                    <button>&lt;photo&gt;</button>
    
                    <p class="question">5. Which HTML tag is used to define a list of items with bullets?</p>
                    <button>&lt;list&gt;</button>
                    <button>&lt;li&gt;</button>
                    <button>&lt;ol&gt;</button>
                    <button id="ans">&lt;ul&gt;</button>
    
                    <p class="question">6. What is the correct HTML tag for adding a table?</p>
                    <button id="ans">&lt;table&gt;</button>
                    <button>&lt;grid&gt;</button>
                    <button>&lt;tab&gt;</button>
                    <button>&lt;spreadsheet&gt;</button>
    
                    <p class="question">7. What is the correct HTML tag for adding a paragraph?</p>
                    <button>&lt;para&gt;</button>
                    <button id="ans">&lt;p&gt;</button>
                    <button>&lt;line&gt;</button>
                    <button>&lt;text&gt;</button>
    
                    <p class="question">8. What is the correct HTML tag for adding a form?</p>
                    <button id="ans">&lt;form&gt;</button>
                    <button>&lt;input&gt;</button>
                    <button>&lt;field&gt;</button>
                    <button>&lt;entry&gt;</button>
    
                    <p class="question">9. What is the correct HTML tag for adding a button?</p>
                    <button>&lt;btn&gt;</button>
                    <button id="ans">&lt;button&gt;</button>
                    <button>&lt;click&gt;</button>
                    <button>&lt;press&gt;</button>
    
                    <p class="question">10. What is the correct HTML tag for creating a comment?</p>
                    <button id="ans">&lt;!--comment--&gt;</button>
                    <button>&lt;comment&gt;</button>
                    <button>&lt;note&gt;</button>
                    <button >&lt;message&gt;</button>            
                </div>
            </div>
            <div class="blogcard">
                <div class="details">
                    <h3>Results:</h3>  
                    <p>You scored a total of <span class="text-CBlue font-semibold" ><span id="score"></span> / 10</span> in the {heading}! <span id="comment"></span></p>
                </div>
            </div>

        </div>
        <Featured />
    </main>
</Base>

<script>

    let score1 = 0; // score for quiz 1
    const incorrectPenalty = 1;
    const quiz1Elements = document.querySelectorAll("#quiz1"); // select elements for quiz 1
    const comment = document.getElementById("comment")
    const score = document.getElementById("score")

    quiz1Elements.forEach(function(parentElement) { // loop through quiz 1 elements
  const allChildren = parentElement.querySelectorAll("button");

  allChildren.forEach(function (child) {
    child.addEventListener('click', function() {
      if (child.hasAttribute('id') ) {
        child.style.border = "2px solid lime";
        score1 += 1; // increment score for quiz 1 if answer is correct
        child.disabled = true
    } 
    
    else {
        child.style.border = "2px solid red";
        score1 = Math.max(0, score1 - incorrectPenalty);
        child.disabled = true
      }

      if ( score1 == 0) {
        comment.innerHTML = "Rome wasn't built in a day ðŸ—¿, better luck next time my friend.";
      }

      else if (score1 < 0 || score1 <= 4){
        comment.innerHTML = "There is still room for improvement ðŸ‘. Keep pushing!";
      }

      else if (score1 < 5 || score1 <= 9){
        comment.innerHTML = "You performed really well ðŸ‘Œ. Continue learning more!";
      }

      else {
            comment.innerHTML = "Perfectoin ðŸ¤Œ, as expected from  a Codeology.net user!";
      }
      score.innerHTML = score1.toString();
      console.log("Score for Quiz 1: " + score1); // log current score for quiz 1
    });
  });
});

</script>



