---
import Base from "../../layouts/Base.astro";
import Featured from "../../components/Featured.astro";
import '../../styles/main.css';
const heading = "Programming Quiz";

---

<Base 
title={`${heading} | Codeology`}
keywords="programming quiz, coding quiz, programming languages, software development, coding knowledge, programming concepts, programming skills, coding challenges, developer quiz"
description="Put your programming knowledge to the test with our challenging programming quiz. This interactive quiz covers a wide range of programming languages and concepts."
>
    <main class="">
        <div class="md:w-3/4 w-full ">
            <h3 class="header">{heading} 🤖</h3>
            <div class="blogcard" id="quiz1">
                <div class="details quiz">
                    <p class="question">1. What is the purpose of a variable in programming?</p>
                    <button id="ans">To store and manipulate data</button>
                    <button>To control program flow</button>
                    <button>To define functions</button>
                    <button>To generate random numbers</button>
                    <p class="question">2. What is the output of the following code snippet in Python?</p>
<pre is:raw ><code><span class="line">x = 10</span>
<span class="line">y = 5</span>
<span class="line">print(x % y)</span>    
</code></pre>
                    <button>10</button>
                    <button>5</button>
                    <button  id="ans">0</button>
                    <button>2</button>
                    <p class="question">3. In object-oriented programming, what is encapsulation?</p>
                    <button>The process of creating multiple instances of an object</button>
                    <button id="ans">The process of hiding internal implementation details and providing a public interface</button>
                    <button>The process of converting source code into machine code</button>
                    <button>The process of handling exceptions and errors</button>
                    <p class="question">4. What is the time complexity of searching for an element in a balanced binary search tree?</p>
                    <button>O(n)</button>
                    <button id="ans">O(log n)</button>
                    <button>O(n log n)</button>
                    <button>O(1)</button>
                    <p class="question">5. Which keyword is used to declare a constant variable in many programming languages?</p>
                    <button>var</button>
                    <button>let</button>
                    <button id="ans">const</button>
                    <button>final</button>
                    <p class="question">6. What does the acronym "HTML" stand for?</p>
                    <button id="ans">HyperText Markup Language</button>
                    <button>Hyperlink and Text Markup Language</button>
                    <button>Home Tool Markup Language</button>
                    <button>HyperText Model Language</button>
                    <p class="question">7. What is the purpose of the "else" statement in an "if-else" statement?</p>
                    <button>To execute a block of code only if a condition is true</button>
                    <button>To specify an alternative condition to check</button>
                    <button id="ans">To execute a block of code when no other conditions are met</button>
                    <button>To define a loop construct</button>
                    <p class="question">8. What does the term "DRY" stand for in programming?</p>
                    <button id="ans">Don't Repeat Yourself</button>
                    <button>Document, Review, Yield</button>
                    <button>Data Recovery Yield</button>
                    <button>Debug, Run, Yield</button>
                    <p class="question">9. In object-oriented programming, what is inheritance?</p>
                    <button>The process of creating multiple instances of an object</button>
                    <button>The process of hiding internal implementation details and providing a public interface</button>
                    <button id="ans">The process of reusing code from an existing class and extending its functionality</button>
                    <button>The process of converting source code into machine code</button>
                    <p class="question">10. Which programming language is often used for developing mobile applications?</p>
                    <button>Java</button>
                    <button>Python</button>
                    <button>C++</button>
                    <button id="ans">Swift</button>
                </div>
            </div>
            <div class="blogcard">
                <div class="details">
                    <h3>Results:</h3>  
                    <p>You scored a total of <span class="text-CBlue font-semibold" ><span id="score"></span> / 10</span> in the {heading}! <span id="comment"></span></p>
                </div>
            </div>

        </div>
        <Featured />
    </main>
</Base>

<script src="../../scripts/main.js"></script>



