---
import Base from "../../layouts/Base.astro";
import Featured from "../../components/Featured.astro";
import '../../styles/main.css';
const heading = "VS Code Quiz";

---

<Base 
title={`${heading} | Codeology`}
keywords="VS Code, quiz, coding quiz, programming quiz, web development, IDE, Visual Studio Code, coding skills, developer tools, code editor"
description="Test your knowledge of Visual Studio Code (VS Code) with our interactive quiz. Put your coding skills to the test and answer questions about this popular code editor used by web developers worldwide."
>
    <main class="">
        <div class="md:w-3/4 w-full ">
            <h3 class="header">{heading} 💻</h3>
            <div class="blogcard" id="quiz1">
                <div class="details quiz">
                    <p class="question">1. What is the keyboard shortcut to go to the definition of a function or variable in Visual Studio Code?</p>
                    <button>F12</button>
                    <button>Ctrl + D</button>
                    <button>Alt + F9</button>
                    <button id="ans">Ctrl + Click</button>
                    <p class="question">2. Which key combination is used to open the integrated terminal in Visual Studio Code?</p>
                    <button>Ctrl + Shift + T</button>
                    <button id="ans">Ctrl + `</button>
                    <button>Ctrl + T</button>
                    <button>Alt + T</button>
                    <p class="question">3. Which extension is used for JavaScript files in Visual Studio Code?</p>
                    <button id="ans">.js</button>
                    <button>.javascript</button>
                    <button>.code</button>
                    <button>.jsx</button>
                    <p class="question">4. How can you quickly format your code in Visual Studio Code?</p>
                    <button>Right-click and select "Format Code"</button>
                    <button>Press F5 key</button>
                    <button id="ans">Press Ctrl + Shift + F</button>
                    <button>Press Ctrl + B</button>
                    <p class="question">5. What is the command palette in Visual Studio Code used for?</p>
                    <button id="ans">Accessing a list of installed extensions</button>
                    <button>Changing the color theme</button>
                    <button>Managing Git repositories</button>
                    <button>Running code snippets</button>
                    <p class="question">6. Which file is used to configure Visual Studio Code settings on a workspace level?</p>
                    <button>.settings</button>
                    <button>.config</button>
                    <button id="ans">.vscode</button>
                    <button>.code</button>
                    <p class="question">7. Which feature of Visual Studio Code allows you to track changes made to a file over time?</p>
                    <button id="ans">Git integration</button>
                    <button>Code snippets</button>
                    <button>IntelliSense</button>
                    <button>Debugging</button>
                    <p class="question">8. What is the purpose of the "Explorer" view in Visual Studio Code?</p>
                    <button>Writing code</button>
                    <button id="ans">Viewing and managing files in your workspace</button>
                    <button>Running tests</button>
                    <button>Debugging code</button>
                    <p class="question">9. Which key combination is used to comment/uncomment a line of code in Visual Studio Code?</p>
                    <button id="ans">Ctrl + /</button>
                    <button>Ctrl + ;</button>
                    <button>Ctrl + \</button>
                    <button>Ctrl + #</button>
                    <p class="question">10. What is the recommended file structure for a Visual Studio Code project?</p>
                    <button>Flat structure (all files in one folder)</button>
                    <button id="ans">Hierarchical structure (multiple folders and subfolders)</button>
                    <button>Random structure (no specific organization)</button>
                    <button>It doesn't matter</button>
                </div>
            </div>
            <div class="blogcard">
                <div class="details">
                    <h3>Results:</h3>  
                    <p>You scored a total of <span class="text-CBlue font-semibold" ><span id="score"></span> / 10</span> in the {heading}! <span id="comment"></span></p>
                </div>
            </div>

        </div>
        <Featured />
    </main>
</Base>

<script src="../../scripts/main.js"></script>



