@tailwind components;
@tailwind utilities;
@tailwind base;

@layer base {

    :root {
        --CBlue: #38b6ff;
        --CGray: #282a30;
        --CBlack: #151515;
        --CWhite: #ffffff4d;
        --CGhost: rgba(149, 157, 165, 0.1);
        --CCool: #DFE7F2;
    }

    @font-face {
      font-family: Poppins;
      font-weight: 400;
      font-display: swap;
      src: url(/fonts/Poppins-Regular.woff) format("woff");
    }

    @font-face {
        font-family: Code;
        font-weight: 400;
        font-display: swap;
        src: url(/fonts/SourceCodePro.ttf) format("truetype");
      }
      
      .btn{
        @apply dark:bg-CGray dark:text-white py-1 px-2 rounded-md border-2 border-white bg-white  dark:border-CGray hover:border-CBlue dark:hover:border-CBlue mt-2 mr-2;
      }

      .quiz button{
        @apply dark:border-CWhite dark:bg-CGray dark:text-white py-1 px-2 rounded-md border-2  bg-white hover:border-CBlue dark:hover:border-CBlue mt-2 mr-2;
      }

      .btnlG {
        @apply mt-3  text-black hover:text-white dark:bg-CGray hover:bg-CBlue py-2 px-4 dark:text-white border-2 border-CCool dark:border-CWhite rounded-md dark:hover:bg-CBlue dark:hover:text-CGray hover:border-CBlue;
      }

      .header {
        @apply font-extrabold mb-5 border-2 border-CWhite tracking-wide lift dark:text-white text-xl p-3 rounded-md md:w-[calc(100%-20px)];
      }

     .details h3 {
        @apply  my-1 tracking-wide dark:text-white text-xl rounded-md font-semibold mt-5 first-of-type:mt-0;
      }

      .blogcard {
        @apply  rounded-md overflow-hidden dark:bg-CGray lift mb-5 last-of-type:mb-0 md:w-[calc(100%-20px)];
      }

      P , li{
        @apply dark:text-white;
      }

      main {
        @apply md:w-4/5 w-11/12 m-auto dark:bg-CBlack rounded-lg md:flex  place-items-start;
      }

      pre {
        @apply bg-white dark:bg-CGray p-2 rounded-md my-2 !important;
      }

       code span {
        @apply text-black dark:text-white !important;
      }

      iframe {
        @apply rounded-md;
      }

      .joe {
        @apply text-black dark:text-white caret-CBlue outline-none border-2 dark:border-CGray focus:border-2 dark:focus:border-CBlue focus:border-CBlue w-full p-3  rounded-md mb-3;
      }

      .details img {
        @apply border-2 border-CCool dark:border-CWhite rounded-md
      }

}

:root {
    --CBlue: #38b6ff;
    --CGray: #282a30;
    --CBlack: #151515;
    --CWhite: #ffffff4d;
    --CGhost: rgba(149, 157, 165, 0.1);
    --CCool: #DFE7F2;
}


* {
    -webkit-tap-highlight-color: transparent;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;  
    transition: all .15s ease;
}

 body {
    background-color: var(--CCool);
    
}

.dark body {
    background-color: var(--CBlack);
}

h1 {
    font-family: 'League Spartan', sans-serif;
}

.lift {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.dark .lift{
    box-shadow: rgba(0, 0, 0, 0) 0px 8px 24px;
}


.glass {
    background: rgba(255, 255, 255, 0.1) !important;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background:var(--CGray);
}

::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background:var(--CBlue);
}
  
  main {
      margin-top:90px;
    }
    
.content h2 {
   letter-spacing: 1px;
   margin-top: 20px !important;
}

.content a, .details a {
    color: var(--CBlue);
}

pre {
    box-sizing: border-box;
    border: 2px solid var(--CBlue);
    overflow-x: auto;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}

code span{
    font-family: 'Code', monospace;
}

.details {
    padding: 10px;
}


.blogcard .details ul li::marker {
    content: '👉 ';
}

.blogcard .details ul {
    padding-left: 30px;
}  

.blogcard {
    background-color: white;
}

.quiz button {
    border-color: var(--CCool);
}

.question:not(:first-of-type) {
    margin-top: 20px;
}

.dark .joe  {
    background-color: var(--CGhost);
    transition: all .3s ease;
}

.blur-load {
    background-size: cover;
    background-position:center;
    position: relative;
    width: 100%;
    filter: blur(5px);
    aspect-ratio: 3/1;
}

.blur-load.loaded{
    filter: blur(0px);
}

.dark .blur-load::before {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    animation: darkLoad 1s ease alternate infinite;
}

.blur-load::before {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    animation: lightLoad 1s ease alternate infinite;
}

.blur-load.loaded::before {
    content: none;
}

.blur-load.loaded > img {
    opacity: 1;
}

table {
    width: 100%;
}

 th,  tr {
    border: 1px solid  #ddd;
    vertical-align: top;

 } 

.dark td, .dark th {
    border: 1px solid var(--CWhite);
    color: white;
}

td, th {
    padding: 5px;
}

th {
    background-color: var(--CGhost);
    padding: 5px;
    font-weight: 500;
    text-align: left;
}

.blur-load > img {
   opacity: 0;
   transition: opacity .3s ease;
   object-position: center;
   object-fit: cover;
   width: 100%;
   aspect-ratio: 3/1;
}

.new {
    position:relative
}

.new:before {
    position:absolute;
    padding: 5px 10px;
    background-color: white;
    content: "New";
    top: 0;
    left: 0;
    display:grid;
    border-bottom-right-radius: 6px;
    place-content:center;
}

.dark .new:before {
    color: white;
    background-color: var(--CGray);
}

@keyframes lightLoad {
    0% {
        background-color: rgba(0, 0, 0, 0);
    }
    0% {
        background-color: rgba(0, 0, 0, 0.1);
    }
    100% {
        background-color: rgb(0, 0, 0, 0);
    }
}

@keyframes  darkLoad{
    0% {
        background-color: rgba(255, 255, 255, 0);
    }
    0% {
        background-color: rgba(255, 255, 255, 0.1);
    }
    100% {
        background-color: rgba(255, 255, 255, 0);
    }
}
