---
import Base from '../../layouts/Base.astro';
import Featured from '../../components/Featured.astro';
import Blogcard from '../../components/Blogcard.astro';
import '../../styles/main.css';

export async function getStaticPaths() {
    const allPosts = await Astro.glob('../blogholder/*.md'); 
  return [
    { params: { tag: "All" }, props: {posts: allPosts} },
    { params: { tag: "HTML" }, props: {posts: allPosts}},
    { params: { tag: "CSS" }, props: {posts: allPosts}},
    { params: { tag: "JavaScript" }, props: {posts: allPosts}},
    { params: { tag: "Programming" }, props: {posts: allPosts}},
    { params: { tag: "Webdev" }, props: {posts: allPosts}},
    { params: { tag: "Study" }, props: {posts: allPosts}},
    { params: { tag: "UIUX" }, props: {posts: allPosts}},
    { params: { tag: "Latest" }, props: {posts: allPosts}},
    ]
}

const { tag } = Astro.params;
const { posts } = Astro.props;
const filteredPosts = posts.filter((post) => post.frontmatter.tags.includes(tag));
---

<Base title={`${tag} Blogs | Codeology`}>
	<main>
        <div class="md:w-3/4 w-full m-auto">
            <h3 class="header">{tag} Blogs</h3>
            {filteredPosts.map((blog) => <Blogcard {blog} />)}
        </div>
        <Featured />
    </main>
</Base>