---
import Base from "../layouts/Base.astro";
import Featured from "../components/Featured.astro";
import { Image } from "@astrojs/image/components";
import "../styles/main.css";
const heading = "Error 404 💀";
const image = "img/404.jpg"
---

<Base title="Codeology2">
    <main class="">
        <div class="md:w-3/4 w-full m-auto">
            <h3 class="header">{heading}</h3>
            <div class="blogcard">
                <!-- <div class="overflow-hidden">
                    <Image
                        src={image}
                        height={510}
                        loading="lazy"
                        format="avif"
                        fit="cover"
                        position="top"
                        aspectRatio={3/2}
                    />
                </div> -->
                <div class="blur-load" >
                    <img class="img" src={image} alt="2d illustration of man sittting on a desk with a computer beside him" />
                </div>
                <div class="details">
                    <h3 >You seem to be lost</h3>
                    <p class="dark:text-white">
                        The webpage you are lookig for does not exist. You might want to head back to where you came from.                    </p>
                </div>
            </div>
        </div>
        <Featured />
    </main>
</Base>

<style is:inline>
     input[type = "checkbox"]:checked ~ #content {
        max-height: 200px;
        opacity: 1;
    }

     input[type = "checkbox"]:checked ~ h3 label svg {
        rotate: -180deg;
    }
    
    #content {
        transition: all .3s ease 0s;
        opacity: 0;
    }

    h3 label svg {
        transition: all .3s ease;
    }

    .tech svg {
        aspect-ratio: 1/1;
        height: 50px;
        margin-right: 15px;
    }

    .blur-load {
    background-size: cover;
    background-position:center;
    position: relative;
    width: 100%;
    aspect-ratio: 16/9;
    }

    .blur-load img{
    object-fit: cover;
    height: 100%;
}

</style>

<script is:inline>
    const blurDiv = document.querySelector(".blur-load")
    const img = blurDiv.querySelector("img")

    function loaded() {
        blurDiv.classList.add("loaded")
    }

    if (img.complete) {
        loaded();
    }

    else {
        img.addEventListener("load" ,loaded)
    }
</script>



