---
import Base from '../layouts/Base.astro';
import Three from '../components/Three.astro';
import Hero from '../components/Hero.astro';
import '../styles/main.css';
---

<Base title="Codeology2">
	<main class="block">
            <Hero />
            <Three />
        </div>
</Base>




