---
import Base from '../layouts/Base.astro';
import '../styles/main.css';
import { Image } from '@astrojs/image/components';
---

<Base title="Codeology2">
	<main class="h-100v m-auto w-4/5 lex items-center justify-center flex lift dark:bg-CGray rounded-lg">
		<h1 class="tracking-wide text-xl p-5 dark:text-white">Hero</h1>
	</main>
</Base>

<style>
    main {
        margin-top:calc(10vh + 40px) !important;
    }
</style>


