---
import Base from '../layouts/Base.astro';
import Three from '../components/Three.astro';
import Hero from '../components/Hero.astro';
import '../styles/main.css';
---

<Base 
title="Welcome | Codeology"
keywords="web development, programming, blogs, quizzes, front-end development, back-end development, software development, coding, programming languages"
description="Welcome to our website, where you can find informative blogs and challenging quizzes on web development and programming. Our content covers a wide range of topics including front-end and back-end development, software development, coding, and programming languages. Whether you're a beginner or an experienced programmer, we have something for everyone. Explore our collection of articles and quizzes to enhance your skills and stay up-to-date with the latest trends in the industry."
>
	<main class="block">
            <Hero />
            <Three />
        </div>
</Base>




