<footer class="border-2 border-CWhite rounded-md text-left md:p-0  bg-CCool dark:bg-CBlack flex flex-col-reverse md:flex-row md:items-center justify-between lift md:mt-5 my-5 md:w-4/5 w-11/12 mx-auto">
  <div class=" dark:text-white">
   <div class="p-3"> Copyright <span id="year"></span> | Codeology.net by <span class="text-CBlue"><a href="https://github.com/anav5704">Anav</a></span></div>
  </div>
  <ul class="md:flex items-center dark:text-white">
    <li class="md:mr-8 p-1 hover:text-CBlue"><a href="/about">About</a></li>
    <li class="md:mr-8 p-1 hover:text-CBlue"><a href="/contact">Contact</a></li>
    <li class="md:mr-8 p-1 hover:text-CBlue"><a href="/disclaimer">Disclaimer</a></li>
    <li class="md:mr-8 p-1 hover:text-CBlue"><a href="/privacy">Privacy</a></li>
    <li class="md:mr-5 p-1 hover:text-CBlue"><a href="/terms">Terms</a></li>
  </ul>
</footer>

<script>
    const date = new Date;
    document.getElementById("year").innerHTML = date.getFullYear().toString();
</script>


