---
import '../styles/main.css';
---

<div class="w-full gap-5 grid grid-cols-1 md:grid-cols-3 dark:text-white text-black">
    <div  class="col-span-1 md:col-span-2 flex flex-col justify-evenly md:h-44 p-3 md:mt-0 md:w-full dark:bg-CGray bg-white rounded-md lift">
        <h1 class="text-lg md:text-2xl">Master Frontend Development with <span class="text-CBlue">Interactive</span> Content</h1>
        <p >Explore the amazing world of web development and programming with our interactive Projects and fun quizzes! Stay ahead of the curve and expand your skills by being a part of our community.</p>
    </div>

    <div  class="col-span-1 flex flex-col justify-between h-44  p-3 md:mt-0 md:w-full dark:bg-CBlack border-2 border-CWhite rounded-md lift">
      <h3 class="font-semibold flex justify-between  text-xl">Gifts          
    </h3>  
    <p>Find bonus content hidden thoughout the website.</p>
    <a href="/tags/Latest" class="btn text-center "><button>Like this one
      </button></a>

      
    </div>

    <div  class="col-span-1 flex flex-col justify-between h-44  p-3 md:mt-0 md:w-full dark:bg-CBlack border-2 border-CWhite rounded-md lift">
      <h3 class="font-semibold flex justify-between  text-xl">Blogs
    </h3>  
    <p>We have a diverse collection of beginner friendly blogs.</p>
    <a href="/tags/Latest" class="btn text-center"><button >Read Blogs</button></a>

      
    </div>
    
    <div class="col-span-1 flex flex-col justify-between h-44 p-3 md:mt-0 md:w-full dark:bg-CBlack border-2 border-CWhite rounded-md lift">
       <h3 class="font-semibold flex justify-between text-xl">Quizzes
    </h3>
    <p>Tackle questoins based on frontend web development</p>
    <a href="/quizzes" class="btn text-center"><button >Take Quiz</button></a>

 
    </div>
    
    <div class="col-span-1 flex flex-col justify-between h-44 p-3 md:mt-0 md:w-full dark:bg-CBlack border-2 border-CWhite rounded-md  lift">
       <h3 class="font-semibold flex justify-between  text-xl">Projects 
      </h3>
      <p>Explore a wide range of mini CSS and JavaScript projects</p>
     <a href="/projects" class="btn text-center"><button >View Projects</button></a>
    </div>
    
</div>