---
const { title } = Astro.props;
const { keywords } = Astro.props;
const { description } = Astro.props;
import Nav from '../components/Nav.astro';
import Card from '../components/Card.astro';
import Footer from '../components/Footer.astro';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description">
		<meta name="viewport" content="width=device-width" />
        <meta property="og:image" content="/img/favicon.png">
        <meta name="description" content={description}>
        <meta name="keywords" content={keywords}>
		<link rel="icon" type="image/svg+xml" href="/img/favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
        <Card />
        <Nav />
		<slot />
        <Footer />
        <script is:inline>

            if (sessionStorage.getItem("dark")){
                document.documentElement.classList.add("dark");
                document.getElementById("dark").style.display = "block"
            }

            else {
                document.documentElement.classList.remove("dark");
                document.getElementById("light").style.display = "block"
            }

            document.getElementById("mode").addEventListener("click", () => {    
                if (sessionStorage.getItem("dark")){
                    lighten()
                }
                else {
                    darken()
                }
            })

            function darken() {
                document.documentElement.classList.toggle("dark");
                sessionStorage.setItem("dark", "true");
                sessionStorage.removeItem("light");
                console.log("Dark mode");
                document.getElementById("dark").style.display = "block"
                document.getElementById("light").style.display = ""
            }

            function lighten() {
                document.documentElement.classList.toggle("dark");
                sessionStorage.setItem("light", true);
                sessionStorage.removeItem("dark");
                console.log("Light mode");
                document.getElementById("light").style.display = "block"
                document.getElementById("dark").style.display = ""
            }
            

        </script>
	</body>
</html>

